.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.aboutProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  padding: 25px 17px;
  margin-left: auto;
  margin-right: auto;
}

.aboutHeader {
  display: flex;
  & > p {
    @include subtitle;
    font-size: 1.5rem;
  }
}

.aboutUsContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-around;
  max-width: 1280px;
}

.developers {
  display: block;
  border: 2px solid $text-clr-caption;
  border-radius: 10px;
  width: 29%;
}

.developers__img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.aboutTitle {
  @include title;
  margin-bottom: 25px;
}

.developersDesc {
  @include subtitle;
  text-align: justify;
  padding: 25px;
}

.welcomePage {
  width: 100%;
  background-color: $bg-color;
}
.aboutCourse {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 800px) {
  .aboutUsContainer {
    flex-direction: column;
    align-items: center;
  }

  .aboutTitle {
    font-size: 2rem;
  }

  .developersDesc {
    font-size: 1.5rem;
  }

  .developers {
    width: 75%;
  }
}
