@mixin title {
  font-size: 3rem;
  font-weight: 600;
  color: $base-text-clr;
}

@mixin subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  color: $text-clr-caption;
}

@mixin base-button {
  border-radius: 10px;
  background-color: $buttons-and-links;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 600;
  transition: $transition;
  &:hover {
    background-color: $buttons-and-links-hover;
  }
}

@mixin neon-button($red: false) {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 600;
  transition: $transition;
  color: $neon-text-clr;
  @if $red {
    border: 1px solid $red-neon-glow;
  } @else {
    border: 1px solid $blue-neon-glow;
  }
  &:hover {
    @if $red {
      border: 1px solid $red-neon-glow;
      box-shadow: 0 0 10px $red-neon-glow;
    } @else {
      border: 1px solid $blue-neon-glow;
      box-shadow: 0 0 10px $blue-neon-glow;
    }
  }
}

@mixin neon-button-active($red: false) {
  @include neon-button($red);
  @if $red {
    border: 1px solid $red-neon-glow;
    box-shadow: 0 0 10px $red-neon-glow;
  } @else {
    border: 1px solid $blue-neon-glow;
    box-shadow: 0 0 10px $blue-neon-glow;
  }
}

@mixin base-link {
  color: $buttons-and-links;
  transition: $transition;
  font-size: 1.5rem;
  &:hover {
    color: $buttons-and-links-hover;
  }
}

@mixin form-title {
  @include title;
  font-size: 1.8rem;
}

@mixin form-input {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid $clr-base-2;
  border-radius: 0;
  font-size: 1.5rem;
  transition: $transition;
  &:hover {
    border: 1px solid $clr-active;
    border-radius: 10px;
  }
  &:focus {
    border: 1px solid $clr-active-3;
    border-radius: 10px;
  }
  &::placeholder {
    color: $text-clr-caption;
  }
}

@mixin form-button {
  @include base-button;
  width: fit-content;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 400;
  &:disabled {
    opacity: 0.7;
    pointer-events: none;
    cursor: auto;
  }
}

@mixin IdeSection {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  position: relative;
  font-size: 15px;
  height: 100%;
}

@mixin scroll {
  & ::-webkit-scrollbar {
  }

  & ::-webkit-scrollbar:horizontal {
  }

  & ::-webkit-scrollbar-thumb {
  }

  & ::-webkit-scrollbar-corner {
  }
}
