$bg-color: #19191c;
$text-accent: #f151a2;
//$buttons-and-links: #00b3ab;
$buttons-and-links: #1c7bd3;
$buttons-and-links-hover: #2695fd;
$base-text-clr: #e4f1ff;

$red-danger: #d1403b;

$neon-text-clr: #e4f1ff;
$red-neon-glow: #ff9983;
$blue-neon-glow: #00e0ff;

$text-clr-caption: #9293a0;
$text-clr-caption-3: #5f606d;

$clr-base: #21222d;
$clr-base-2: #45485e;
$clr-base-3: #13151b;
$clr-base-4: #1c1c1f;

$clr-content: #b5b7c2;
$clr-scroll: rgba(181, 183, 194, 0.23);

$clr-active: #4293dc;
$clr-active-2: #2495fc;
$clr-active-3: #2695fd;

$clr-active-4: #a2d2ff;

$clr-blur: #2495fc30;

$clr-danger: #eb0d6a;

$transition: all 0.3s ease;
