@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* ------------------ОБНУЛЕНИЕ/RESET------------------ */
@import 'reset';
/* ------------------СТИЛИ/STYLES------------------ */

body {
  color: $base-text-clr;
  background-color: #191921;
  font-weight: 400;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $clr-scroll transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $clr-scroll;
  border-radius: 100px;
  border: 3px solid transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
