.ide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
}

.s {
  flex: 1 1;
  height: 100%;
  position: relative;
  width: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: $clr-base;
  border-radius: 5px;
}

.docToggler {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 0;
  filter: contrast(0.4);
  transition: $transition;
  &:hover {
    filter: contrast(1);
  }
}

.docPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.panelTitle {
  @include title;
  padding: 10px;
  font-size: 1.2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.headerRight {
  display: flex;
  gap: 5px;
}

.separator {
  width: 5px;
  height: 100%;
  background-color: $bg-color;
  transition: $transition;
}

.horizontalSeparator {
  width: 100%;
  height: 5px;
  background-color: $bg-color;
  transition: $transition;
}

.separator:hover,
.separator:active,
.horizontalSeparator:hover,
.horizontalSeparator:active {
  background-color: $blue-neon-glow;
}

.tabsToggler {
  @include base-link;
  font-size: 1.5rem;
  padding: 10px;
  margin-left: auto;
}

.tabsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tabsNav {
  display: flex;
  width: 100%;
}

.tabBtn {
  @include neon-button-active;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  &:hover {
    box-shadow: none;
  }
  &:first-child {
    border-radius: 5px 0 0 0;
  }
  &:last-child {
    border-radius: 0 5px 0 0;
  }
}

.tabBtnActive {
  pointer-events: none;
  @include neon-button-active;
  border-bottom: 1px solid transparent;
  box-shadow: none;
  padding: 10px 20px;
  border-radius: 0;
  font-size: 1rem;
}

.tab {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  padding: 30px;
  gap: 20px;
}

.errorTitle {
  @include title;
  font-size: 2rem;
  text-align: center;
}

.errorText {
  @include subtitle;
  font-size: 1.5rem;
  text-align: center;
}
