.ide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.s {
  flex: 1 1;
  height: 100%;
  position: relative;
  width: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #21222d;
  border-radius: 5px;
}

.panelTitle {
  @include title;
  padding: 10px;
  font-size: 1.2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.separator {
  width: 5px;
  height: 100%;
  background-color: $bg-color;
  transition: $transition;
}

.horizontalSeparator {
  width: 100%;
  height: 5px;
  background-color: $bg-color;
  transition: $transition;
}

.separator:hover,
.separator:active,
.horizontalSeparator:hover,
.horizontalSeparator:active {
  background-color: $blue-neon-glow;
}

.tabsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tabsNav {
  display: flex;
  width: 100%;
}

.tabBtn {
  @include neon-button-active;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: none;
  border: 1px solid transparent;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.tabBtnActive {
  pointer-events: none;
  @include neon-button-active;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: none;
  padding: 10px 20px;
  border-radius: 0;
  font-size: 1rem;
}

.tab {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
